/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #453c5c;
  color: white;
  text-align: center;
  padding: 10px 0;
}

nav {
  background-color: #453c5c;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

nav button, .calcularMSC, .css-button-gradient--1, .css-button-neumorphic {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover, .calcularMSC:hover, .css-button-gradient--1:hover, .css-button-neumorphic:hover {
  opacity: 0.8; 
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 87vh;
  padding: 20px; 
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #51647a;
  height: 6vh;
  color: aliceblue;
  padding: 10px 0;
}


.contenedorDeNotas {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contenedorDeNotas input, .contenedorDeNotas textarea, form input, form textarea {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.contenedorDeNotas button, form button {
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tarjeta-nota {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.tarjeta-nota button, .css-button-gradient--1, .css-button-neumorphic {
  align-self: flex-end;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 10px; 
}


.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-container input[type="text"], .filter-container input[type="checkbox"] {
  padding: 10px;
  font-size: 16px;
}


.container, .contenedorTarjeta {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 25px;
  border: 1px solid black;
  margin-top: 5%;
}
