* {
  font-family: Google 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

/* carrusel */
.carousel-inner h1 {
  font-family: "Noto Serif Display", serif;
  font-size: 70px;
  letter-spacing: 20px;
  word-spacing: 0px;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-shadow: -11px 4px 9px rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
}

.carousel-inner img {
  height: 35vh;
  object-fit: cover;
}

.carousel-caption {
  bottom: 7rem;
}

/* details img */
.contenedorde {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 86vh;
}

.imgde img {
  width: 30vw;
  object-fit: cover;
}

.textoo {
  width: 40%;
}

/* contenedor 2 */
.contenedor2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

/* style checkbox */
.form-check-input {
  height: 1.2em;
  width: 1.2em;
}

.form-check-input:checked {
  background-color: #1c1c1c;
  border-color: #6f6f6f;
}

.form-check-input[type=checkbox] {
  border-radius: .75em;
}

.formlario {
  margin: 7vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

/* tabla */
.tablaa {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  margin: 3% 0;
  width: 70%;
}

/* footer */
footer {
  height: 8vh;
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding: 0 20px;
}

.social img {
  width: 15%;
  border-radius: 10px;
  margin-right: 20px;
}

.mainmain {
  display: flex;
  height: 87vh;
}

.texto3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.img2 {
  width: 100vw;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-danger{
  width: 50%;
}
/* Query PC */
@media only screen and (max-width: 1024px){
  #card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1025px) {
  .mainmain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
  }

  .img2 {
    width: 50%;
    margin-right: 5%;
  }

  #card {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: stretch;
  }

  .contenedor2 {
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
  }

  form {
    width: 20vw;
  }

  .social img {
    width: 2vw;
    border-radius: 10px;
    margin-right: 20px;
  }

  footer {
    font-size: 20px;
  }
}